body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

label {
  text-align: center;
  background-color: red;
  color: white;
  font-size: 3rem;
}

button {
  font-size: 1.5em;
  color: Black;
  background-color: white;
}

img.right {
  position: fixed;
  top: 98px;
  left: 280px;
  height: 30px;
  width: 100px;
}

img.left {
  position: fixed;
  top: 98px;
  left: 30px;
  height: 30px;
  width: 100px;
}
